<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/403604060_221078554363589_4624518150952472730_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=510075&_nc_eui2=AeFuI-vr9fHhYiQmMgwY7GxHqcG6BLRm_fapwboEtGb99h7Sxduxw-3xT0nQpl4wrAwN087eE1cOx4fGOxpPl7FA&_nc_ohc=WNteIrVKbBkAX9lcAnH&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdSKzSLSgYW113hwOgUvOJ7Wk_L2azqaUeV4pnsQNd-wtQ&oe=65AAC5B9" alt="Profile Image" class="profile-image">
<h1 class="cliff-h1">Welcome to my Home Page</h1>
<h3>This is the home view of the SPA.</h3>
<p>"Why do programmers prefer dark mode? Because light attracts bugs!"</p>


</body>
</html>
