<section>
    <div class="profile-image">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/369661694_376285628153578_7296346744175416130_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=510075&_nc_eui2=AeHza-PsnSD-kK6wnjALJiwpaEpPMEuafKZoSk8wS5p8piSojsZfpcgfcDo70KH2c7Z6iNykK53pLMd7hdRhk4LY&_nc_ohc=uwl7f2vQGHMAX-ifoQQ&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdTXSstqAMA_iLllcH5mqhy3FwFxy96ArYTPo3135JVdAw&oe=65911884" alt="My Profile Image">
    </div>
    <h2>Welcome to My Portfolio</h2>
    <h2>HELLO! I AM JONARD PASILAN</h2>
    <p>SEMI- PROGRAMMER</p>
</section>