<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    

    <h1>Projects</h1>
    <p>ACTIVITY</p>

    <table border="1">
        <thead>
            <tr>
                <th>Project 1</th>
                <th>Project 2</th>
                <th>Project 3</th>
                <th>Activity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Making Github Acc</td>
                <td>Cascading Style Sheets</td>
                <td>Single Page Application</td>
                <td>Github Fork and Pull Request</td>
            </tr>
        
        </tbody>
    </table>
</div>




          

</body>
</html>
